      </div>

      <div id="footer">
        <div style="margin: 0px 15px;">
          <a href="http://www.nosoftwarepatents.com/"><img src="/images/microbuttons/noswp.png" /></a>
          <a href="http://www.gnu.org/licenses/gpl.html"><img src="/images/microbuttons/gpl.png" /></a>
          <a href="http://manasource.org"><img src="/images/microbuttons/manasource.png" /></a>
          <a href="/rss.xml"><img src="/images/microbuttons/rss.png" /></a>
          <a href="/atom.xml"><img src="/images/microbuttons/atom.png" /></a>
          <p>&copy; 2012 Source of Tales Team</p>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-33916585-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
