<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Source of Tales - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.basepath }}/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.basepath }}/stylesheets/pygment_trac.css" type="text/css" />
    <link href='{{ site.basepath }}/images/icons/tales-icon-72.png' rel='icon' type='image/png'/>
    
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->

    <link rel="alternate" type="application/rss+xml" title="News Feed (RSS)" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="News Feed (Atom)" href="/atom.xml" />
  </head>
  <body>

    <div id="wrapper">
      <div id="header">
        <h1>Source of Tales</h1>
        <p>Participate in the creation of a new world.</p>
      </div>

      <div id="navigation">
        <a href="{{ site.basepath }}/index.html">Home</a> &middot;
        <a href="{{ site.basepath }}/news.html">News</a> &middot;
        <a href="{{ site.basepath }}/screenshots.html">Screenshots</a> &middot;
        <a href="{{ site.basepath }}/talesworld/">World Map</a> &middot;
        <a href="{{ site.basepath }}/development.html">Development</a> &middot;
        <a href="{{ site.basepath }}/donate.html">Donate</a>
      </div>

      <div id="content">
