@import url('http://fonts.googleapis.com/css?family=Quattrocento:700');
@import url('http://fonts.googleapis.com/css?family=Oxygen');

/* Clear */
* {
    margin: 0px;
    padding: 0px;
}

/* Body */
body {
    background-color: #EEEEEE;
    color: #000000;
}

/* Text styles */
h1 {
    font-family: Quattrocento, serif;
    font-size: 24pt;
    margin: 10px;
}

h2 {
    font-family: Quattrocento, serif;
    font-size: 18pt;
    margin: 10px;
}

h3 {
    font-family: Quattrocento, serif;
    font-size: 15pt;
    margin: 10px;
}

h4 {
    font-family: Quattrocento, serif;
    font-size: 12pt;
    margin: 10px;
}

p, ul {
    font-family: Oxygen, sans-serif;
    font-size: 11pt;
    margin: 12px;
    margin-bottom: 20px;
}

table {
    font-family: Oxygen, sans-serif;
}

li {
    list-style-position: inside;
}

/* Links */
a {
    color: #3D2601;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Wrapper */
div#wrapper {
    width: 96%;
    margin: 15px auto;

    max-width: 1000px;
    min-width: 500px;
}

/* Header */
div#header {
    width: 100%;
    height: 160px;
    background-color: #C17D11;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

div#header h1 {
    padding: 36px 0px 0px 0px;
    font-size: 32pt;
}

div#header p {
    font-family: Quattrocento, serif;
    font-weight: bold;
    font-size: 13pt;
}

/* Navigation */
div#navigation {
    background-color: #8f5902;
    padding: 10px;
    text-align: center;
    font-family: Quattrocento, serif;
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
}

div#navigation a {
    color: #FFFFFF;
}

div#navigation a:hover {
    text-decoration: underline;
}

/* Content */
div#content {
    background-color: #E0CDB0;
    padding: 20px;
}

div#donation {
  text-align: center;
  float: right;
}

/* Footer */
div#footer {
    width: 100%; /* must be absolute due to padding */
    height: 40px;
    background-color: #E9B96E;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#footer img {
    margin: 12px 6px;
    float: left;
}

div#footer p {
    float: right;
    font-size: 9pt;
    padding: 1px 0px;
    color: #3D2601;
}
