/* -- Definiert den Style der Seite -- */

a {
	color:#000000;
	text-decoration:underline;
}

a:link {
	color:#000000;
	text-decoration:underline;
}

a:visited {
	color:#000000;
	text-decoration:underline;
}

a:hover {
	color:#0000ff;
	text-decoration:underline;
}

a:active {
	color:#0000ff;
	text-decoration:underline;
}

body {
	margin:0;
	padding-top:10px;
	background:url(images/background.gif) repeat top left;
}

div.all {
	width:1200px;
	margin: 10px auto;
}

div.header {
	height:100px;
	width:100%;
	background:url(images/header.png) no-repeat top left;
}

ul.menu {
	text-align:center;
	width:100%;
	height:auto;
	float:left;
	margin: 0;
	padding: 0;
	padding-top:30px;
	background:url(images/content_back.png) repeat top left;
}

div.main {
	width:1180px; /* -2*10px padding */
	height:auto;
	padding: 10px;
	padding-top:20px;
	background:url(images/content_back.png) repeat top left;
	overflow:hidden;
}

ul.menu li {
	list-style: none;
   margin: 0;
   padding: 0;
   display: inline;
   font-size:14pt;
}

ul.menu a {
	padding: 5px;
	font-weight: bold;
	float: left;
	width: 161px;
	text-decoration:none;
	color:#000000;
}

/* general links */
ul.menu li a:link {
	color:#000000;
}

/* visited links */
ul.menu li a:visited {
	color:#000000;
}

/* hovered links */
ul.menu li a:hover {
	color:#0000ff;
}

/* clicked links */
ul.menu li a:active {
	color:#0000ff;
}

div.footer {
	margin:0;
	padding:0;
	width:100%;
	height:15px;
	background:url(images/footer.png) no-repeat top left;
}
